body{
  background-color: #A3CCD5;
}
#cajaOpciones{
  background-color: white;
  border: 2px solid white;
  padding-bottom: 30px;
  width: 60%;
  outline-color: #747576;
  outline-style: solid;
  outline-width: 2px;
}

#titulo{
  background-color: #C66363;
  border: 2px solid #C66363;
  width: 60%;
  outline-color: #747576;
  outline-style: solid;
  outline-width: 2px;
}
a{
  text-decoration: none;
  color:black;
}
a:hover{
  background-color: yellow;
}

#operaciones{
  list-style:inside url("../Imagenes/icono.png");
}
